<div class="container-fluid">
  <div class="row">
    <div class="col-md-4" style="margin-top:10px;">
      <h1>
      </h1>
      <h2>
        <button (click)="changeX(-1)" [disabled]="x < 7" class="btn btn-danger">-</button>
        X: {{ x }}
        <button (click)="changeX(1)" [disabled]="x > 19" class="btn btn-success">+</button>
      </h2>
      <h2>
        <button (click)="changeY(-1)" [disabled]="y < 7" class="btn btn-danger">-</button>
        Y: {{ y }}
        <button (click)="changeY(1)" [disabled]="y > 19" class="btn btn-success">+</button>
      </h2>
      <h2>
        <button (click)="changeAgents(-1)" [disabled]="agents < 2" class="btn btn-danger">-</button>
        Agents: {{ agents }}
        <button (click)="changeAgents(1)" [disabled]="agents > 30" class="btn btn-success">+</button>
      </h2>
      <h2>
        <button (click)="setPercentageOfZombies(-1)" [disabled]="percentageOfZombie < 0.01" class="btn btn-danger">-1</button>
        <button (click)="setPercentageOfZombies(-5)" [disabled]="percentageOfZombie < 0.05" class="btn btn-danger">-5</button>
        Zombies: {{ percentageOfZombie * 100 | number }}%
        <button (click)="setPercentageOfZombies(1)" [disabled]="percentageOfZombie > 0.99" class="btn btn-success">+1</button>
        <button (click)="setPercentageOfZombies(5)" [disabled]="percentageOfZombie > 0.94" class="btn btn-success">+5</button>
      </h2>
      <h2>
        <button (click)="setPercentageOfFoods(-1)" [disabled]="percentageOfFood < 0.01" class="btn btn-danger">-1</button>
        <button (click)="setPercentageOfFoods(-5)" [disabled]="percentageOfFood < 0.05" class="btn btn-danger">-5</button>
        Foods: {{ percentageOfFood * 100 | number }}%
        <button (click)="setPercentageOfFoods(1)" [disabled]="percentageOfFood > 0.99" class="btn btn-success">+1</button>
        <button (click)="setPercentageOfFoods(5)" [disabled]="percentageOfFood > 0.94" class="btn btn-success">+5</button>
      </h2>
      <h2>
        
        <button (click)="setTime(10)" [disabled]="time > 1999" class="btn btn-danger">Slower</button>
        Speed: {{ time }} ms
        <button (click)="setTime(-10)" [disabled]="time < 20" class="btn btn-success">Faster</button>
      </h2>
      <h2>
        <button (click)="changeGamma(-0.1)" [disabled]="gamma <= 0.15" class="btn btn-danger">-</button>
        Gamma: {{gamma.toFixed(2)}}
        <button (click)="changeGamma(0.1)" [disabled]="gamma >= 1" class="btn btn-success">+</button>
      </h2> 
      <h2>
        Tiles Values: <button (click)="showRewards = !showRewards" class="{{showRewards ? 'btn btn-danger' : 'btn btn-success'}}">{{showRewards ? 'Hide' : 'Show'}}</button>
      </h2>
      <h3>
        PercentageOfExploration: {{ (percentOfExploration  * 100).toFixed(2) }}%
      </h3>
      <hr>
      <button
        id="newMazeBtn"
        (click)="reDrawMaze()"
        class="btn btn-lg btn-success">New Maze</button>

      <button
        id="startSimulationBtn"
        (click)="start()"
        *ngIf="!simulation"
        class="btn btn-lg btn-primary">Start Simulation</button>
      <button 
        (click)="stopSimulation()"
        *ngIf="simulation"
        class="btn btn-lg btn-warning">
        Stop Simulation
      </button>
    </div>
    <div class="col-md-8" style="margin-top:10px;">
      <div id="maze" style="width:500px;">
        <canvas #mazeCanvas width="850" height="850"></canvas>
      </div>
    </div>
  </div>
</div>




